<nav th:fragment="navbar"
     class="relative flex w-full flex-wrap items-center justify-between bg-cinza dark:bg-preto py-2 shadow-dark-mild lg:py-4"
     data-twe-navbar-ref>
    <div class="flex w-full flex-wrap items-center justify-between px-3">
        <div>
            <a class="mx-2 my-1 flex items-center lg:mb-0 lg:mt-0" th:href="@{/}">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        fill="#EEEEEE"
                        viewBox="0 0 256 256"
                >
                    <path d="M240,104H229.2L201.42,41.5A16,16,0,0,0,186.8,32H69.2a16,16,0,0,0-14.62,9.5L26.8,104H16a8,8,0,0,0,0,16h8v80a16,16,0,0,0,16,16H64a16,16,0,0,0,16-16v-8h96v8a16,16,0,0,0,16,16h24a16,16,0,0,0,16-16V120h8a8,8,0,0,0,0-16ZM80,152H56a8,8,0,0,1,0-16H80a8,8,0,0,1,0,16Zm120,0H176a8,8,0,0,1,0-16h24a8,8,0,0,1,0,16ZM44.31,104,69.2,48H186.8l24.89,56Z"></path>
                </svg>
            </a>
        </div>
        <!-- Hamburger button for mobile view -->
        <button class="block border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
                type="button"
                id="navbar-toggle-button"
                data-twe-collapse-init
                data-twe-target="#navbarSupportedContent4"
                aria-controls="navbarSupportedContent4"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <!-- Hamburger icon -->
            <span class="[&>svg]:w-7 [&>svg]:stroke-black/50 dark:[&>svg]:stroke-neutral-200">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 24 24"
                         fill="currentColor"
                    >
                        <path fill-rule="evenodd"
                              d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                              clip-rule="evenodd"
                        />
                    </svg>
                </span>
        </button>
        <!-- Collapsible navbar container -->
        <div class="hidden mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
             id="navbarSupportedContent4"
             data-twe-collapse-item>
            <!-- Left links -->
            <ul class="list-style-none me-auto flex flex-col ps-0 lg:mt-1 lg:flex-row"
                data-twe-navbar-nav-ref>
                <!-- Home link -->
                <li class="my-2 ps-2 lg:my-0 lg:pe-1 lg:ps-2"
                    data-twe-nav-item-ref
                >
                    <a class="text-white font-semibold transition duration-200 opacity-75 hover:opacity-100 hover:ease-in-out focus:opacity-100 active:opacity-100 motion-reduce:transition-none lg:px-2"
                       aria-current="page"
                       th:href="@{/}"
                       data-twe-nav-link-ref
                    >
                        Home
                    </a>
                </li>
                <li class="my-2 ps-2 lg:my-0 lg:pe-1 lg:ps-2" data-twe-nav-item-ref>
                    <a class="text-white font-semibold transition duration-200 opacity-75 hover:opacity-100 hover:ease-in-out focus:opacity-100 active:opacity-100 motion-reduce:transition-none lg:px-2"
                       aria-current="page"
                       href="#"
                       data-twe-nav-link-ref
                    >
                        Orçamentos
                    </a>
                </li>
                <li class="my-2 ps-2 lg:my-0 lg:pe-1 lg:ps-2" data-twe-nav-item-ref>
                    <a class="text-white font-semibold transition duration-200 opacity-75 hover:opacity-100 hover:ease-in-out focus:opacity-100 active:opacity-100 motion-reduce:transition-none lg:px-2"
                       aria-current="page"
                       href="#"
                       data-twe-nav-link-ref
                    >
                        Serviços
                    </a>
                </li>
                <li class="my-2 ps-2 lg:my-0 lg:pe-1 lg:ps-2" data-twe-nav-item-ref>
                    <a class="text-white font-semibold transition duration-200 opacity-75 hover:opacity-100 hover:ease-in-out focus:opacity-100 active:opacity-100 motion-reduce:transition-none lg:px-2"
                       aria-current="page"
                       href="#"
                       data-twe-nav-link-ref
                    >
                        Agendar serviço
                    </a>
                </li>
                <li class="my-2 ps-2 lg:my-0 lg:pe-1 lg:ps-2" data-twe-nav-item-ref>
                    <a class="text-white font-semibold transition duration-200 opacity-75 hover:opacity-100 hover:ease-in-out focus:opacity-100 active:opacity-100 motion-reduce:transition-none lg:px-2"
                       aria-current="page"
                       th:href="@{/veiculo}"
                       data-twe-nav-link-ref
                    >
                        Veículos
                    </a>
                </li>
                <li class="my-2 ps-2 lg:my-0 lg:pe-1 lg:ps-2" data-twe-nav-item-ref>
                    <a class="text-white font-semibold transition duration-200 opacity-75 hover:opacity-100 hover:ease-in-out focus:opacity-100 active:opacity-100 motion-reduce:transition-none lg:px-2"
                       aria-current="page"
                       th:href="@{/usuario}"
                       data-twe-nav-link-ref
                    >
                        Usuários
                    </a>
                </li>
            </ul>

            <a href="https://github.com/JelsonJr"
               target="_blank"
               data-twe-ripple-init
               data-twe-ripple-color="light"
               class="inline-block px-3 py-2.5 me-3 bg-cinza dark:bg-preto rounded cursor-pointer text-xs font-medium uppercase leading-normal text-neutral-50 shadow-dark-3
                       transition duration-150 ease-in-out hover:bg-preto dark:hover:bg-cinza hover:shadow-dark-2 focus:bg-preto dark:focus:bg-cinza focus:shadow-dark-2 focus:outline-none
                       focus:ring-0 active:bg-preto dark:active:bg-cinza-claro active:shadow-dark-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong
                       dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
            >
                    <span class="[&>svg]:w-4">
                          <svg xmlns="http://www.w3.org/2000/svg"
                               fill="currentColor"
                               viewBox="0 0 24 24"
                          >
                            <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
                          </svg>
                    </span>
            </a>
        </div>
    </div>
</nav>
